{% extends 'basetemplate.html' %}

{% block title %}
Startsida
{% endblock title%}

{% block content %}
<div class="content-body">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <div class="card gradient-1">
            <div class="card-body">
              <h3 class="card-title text-white">Customer Registered</h3>
              <div class="d-inline-block">
                <h2 class="text-white">{{number_of_customers}}</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"
              ><i class="fa fa-users"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card gradient-2">
            <div class="card-body">
              <h3 class="card-title text-white">Number of Accounts</h3>
              <div class="d-inline-block">
                <h2 class="text-white">{{number_of_accounts}}</h2>
                <p class="text-white mb-0">Jan - March 2019</p>
              </div>
              <span class="float-right display-5 opacity-5"
              ><i class="fa fa-address-book"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6">
            <div class="card gradient-3">
              <div class="card-body">
                <h3 class="card-title text-white">Net amount in bank</h3>
                <div class="d-inline-block">
                  <h2 class="text-white">${{total_amount_in_accounts}}</h2>
                  <p class="text-white mb-0">Jan - March 2019</p>
                </div>
                <span class="float-right display-5 opacity-5"
                  ><i class="fa fa-money"></i
                  ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-12 col-sm-12 col-xxl-12">
          <div class="card">
              <div class="card-body">
                      <h4 class="card-title mb-0">Store Location</h4>
                  <div id="world-map" style="height: 470px;"></div>
              </div>        
          </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
{% endblock content %}
{% block custom_scripts %}
<!-- Datamap -->
<script src="{{url_for('static', filename = './plugins/d3v3/index.js')}}"></script>
<script src="{{url_for('static', filename = './plugins/topojson/topojson.min.js')}}"></script>
<script src="{{url_for('static', filename = './plugins/datamaps/datamaps.world.min.js')}}"></script>
<script src="{{url_for('static', filename = './js/dashboard/dashboard-1.js')}}"></script>
{% endblock custom_scripts %}