{% extends 'basetemplate.html' %} 
{% from "macros/table.html" import render_account_table %}

{% block title %} Customer Page {% endblock title%}


{% block content %}
<div class="content-body">
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media align-items-center mb-4">
                            <div class="media-body">
                                <h3 class="mb-0">Customer #{{customer.Id}}</h3>
                            </div>
                        </div>
                        
                        <div class="row mb-2">
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-primary"><i class="fa fa-user-circle"></i></span>
                                    <h3 class="mb-0">{{customer.GivenName}} {{customer.Surname}}</h3>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-profile text-center">
                                    <span class="mb-1 text-warning"><i class="fa fa-money"></i></span>
                                    <h3 class="mb-0">Total Balance: {{account_balance_sum}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- Tab start -->
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Customer Info</h4>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs mb-3" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#profile8"><span><i class="ti-user"></i></span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#home8"><span><i class="ti-home"></i></span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages8"><span><i class="ti-email"></i></span></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contact8"><span><i class="ti-mobile"></i></span></a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tabcontent-border">
                                    <div class="tab-pane fade show active" id="profile8" role="tabpanel">
                                        <div class="p-t-15">
                                            <h4>Profile</h4>
                                            <ul class="card-profile__info">
                                                <li><strong class="text-dark mr-2">Surname:</strong> <span>{{customer.Surname}}</span></li>
                                                <li><strong class="text-dark mr-2">Given Name:</strong> <span>{{customer.GivenName}}</span></li>
                                                <li><strong class="text-dark mr-2">National Id:</strong> <span>{{customer.NationalId}}</span></li>
                                                <li><strong class="text-dark mr-2">Birthday:</strong> <span>{{customer.Birthday}}</span></li>
                                                <li><strong class="text-dark mr-2">Customer Id:</strong> <span>{{customer.Id}}</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="home8" role="tabpanel">
                                        <div class="p-t-15">
                                            <h4>Address</h4>
                                            <ul>
                                                <li><strong class="text-dark mr-2">Street Address:</strong>{{customer.Streetaddress}}</li>
                                                <li><strong class="text-dark mr-2">Zip Code:</strong>{{customer.Zipcode}}</li>
                                                <li><strong class="text-dark mr-2">City:</strong> {{customer.City}}</li>
                                                <li><strong class="text-dark mr-2">Country:</strong> {{customer.Country}}</li>
                                                <li><strong class="text-dark mr-2">Country Code:</strong> {{customer.CountryCode}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="messages8" role="tabpanel">
                                        <div class="p-t-15">
                                            <h4>Email</h4>
                                            <ul class="card-profile__info">
                                                <li><strong class="text-dark mr-2">Email Address:</strong> <span>{{customer.EmailAddress}}</span></li>
                                                </ul>
                                           </div>
                                    </div>
                                    <div class="tab-pane fade" id="contact8" role="tabpanel">
                                        <div class="p-t-15">
                                            <h4>Email</h4>
                                            <ul class="card-profile__info">
                                                <li><strong class="text-dark mr-2">Telephone Country Code:</strong> <span>{{customer.TelephoneCountryCode}}</span></li>
                                                <li><strong class="text-dark mr-2">Telephone Number:</strong> <span>{{customer.Telephone}}</span></li>
                                                </ul>
                                           </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                                <h4>Accounts</h4>
                                </div>
                                <div class="table-responsive">
                                    {{ render_account_table(accounts)}}
                                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock content %}


