{% extends 'basetemplate.html' %}
{% from "macros/_form_helper.html" import  render_field, render_field_control_placeholder %}

{% block title %}
Admin Update User Role
{% endblock title%}

{% block content %}
<div class="content-body">
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h2>Update User Role</h2>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
{% endblock content %}