{% macro render_account_table(account_list) %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Go To</th>
        </tr>
    </thead>
    <tbody>
        {% for account in account_list %}
        <tr>
            <td>{{account.Id}}</td>
            <td>{{account.Created}}</td>
            {% if account.AccountType == "Personal"%}
            <td><span class="badge badge-primary px-2">Personal</span>    
            
            {% elif account.AccountType == "Checking" %}
            <td><span class="badge badge-info px-2">Checking</span>    
            
            {% else %}
            <td><span class="badge badge-success px-2">Savings</span>    
            {% endif %}
            </td>
            <td>account.Balance</td>
            <td><a href="{{url_for('customers.customer_page',id = account.CustomerId)}}" data-toggle="tooltip" data-placement="top" title="Go To"
             ><i class="fa fa-external-link-square" aria-details="true"></i></a></td>
        </tr>
        {% endfor %}

        <!-- <tr>
        <th>1</th>
        <td>Kolor Tea Shirt For Man</td>
            <td><span class="badge badge-primary px-2">Sale</span>
            </td>
            <td>January 22</td>
            <td class="color-primary">$21.56</td>
        </tr>
        <tr>
            <th>2</th>
            <td>Kolor Tea Shirt For Women</td>
            <td><span class="badge badge-danger px-2">Tax</span>
            </td>
            <td>January 30</td>
            <td class="color-success">$55.32</td>
        </tr>
        <tr>
            <th>3</th>
            <td>Blue Backpack For Baby</td>
            <td><span class="badge badge-success px-2">Extended</span>
            </td>
            <td>January 25</td>
            <td class="color-danger">$14.85</td>
        </tr> -->
    </tbody>
</table>

{% endmacro %}