<!DOCTYPE html>
<html class="h-100" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Login</title>
    <link
      href="{{url_for('static', filename = 'css/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body class="h-100">
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
      <div class="container h-100">
        <div class="row justify-content-center h-100">
          <div class="col-xl-6">
            <div class="form-input-content">
              <div class="card login-form mb-0">
                <div class="card-body pt-5">
                  <a class="text-center" href="#"> <h4>Login</h4></a>

                  {% block content %} {% from "flask_user/_macros.html" import
                  render_field, render_checkbox_field, render_submit_field %}

                  <form
                    action=""
                    method="POST"
                    class="form mt-5 mb-5 login-input"
                    role="form"
                  >
                    {{ form.hidden_tag() }} 

                    {# Username or Email field #} 
                    {% set field = form.username if user_manager.USER_ENABLE_USERNAME
                    else form.email %}
                    <div
                      class="form-group {% if field.errors %}has-error{% endif %}"
                    >
                      {{ field(class_='form-control', placeholder="Email", tabindex=110) }} {% if
                      field.errors %} {% for e in field.errors %}
                      <p class="help-block">{{ e }}</p>
                      {% endfor %} {% endif %}
                    </div>

                    {# Password field #}
                    {% set field = form.password %}
                    <div
                      class="form-group {% if field.errors %}has-error{% endif %}"
                    >
                      {{ field(class_='form-control', placeholder="Password" , tabindex=120) }} 
                      {% if field.errors %} {% for e in field.errors %}
                      <p class="help-block">{{ e }}</p>
                      {% endfor %} {% endif %}
                    </div>

                    <!-- {# Remember me #} {% if user_manager.USER_ENABLE_REMEMBER_ME
                    %} {{ render_checkbox_field(login_form.remember_me,
                    tabindex=130) }} {% endif %}  -->
                    
                    {# Submit button #} 
                    {{render_submit_field(form.submit, tabindex=180) }}
                    
                    {# "Forgot your Password?" on right #}
                    <div class="col-xs-6 text-right">
                        {% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
                        <a
                          href="{{ url_for('user.forgot_password') }}"
                          tabindex="195"
                        >
                          {%trans%}Forgot your Password?{%endtrans%}</a
                        >
                        {% endif %}
                      </div>

                  </form>
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{ url_for('static', filename = 'plugins/common/common.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/settings.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/gleek.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/styleSwitcher.js')}}"></script>
  </body>
</html>
