<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static',filename = 'images/cooltextPB2.png')}}"
    />
    <!-- Custom Stylesheet -->
    <link
      href="{{ url_for('static',filename = 'css/style.css')}}"
      rel="stylesheet"
    />
    <!-- Custom header links -->
    {% block header_links %}
    {% endblock header_links %}
   </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="{{url_for('home.index')}}">
            <b class="logo-abbr"><img src="{{url_for('static', filename = './images/cooltextPB1.png')}}" alt="" /> </b>
            <span class="logo-compact"
              ><img src="{{url_for('static', filename = './images/cooltextPB.png')}}" alt=""
            /></span>
            <span class="brand-title">
              <img src="{{url_for('static', filename = './images/cooltext87.png')}}" alt="" />
            </span>
          </a>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content clearfix">
          <div class="nav-control">
            <div class="hamburger">
              <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
          </div>
          <div class="header-right">
            <ul class="clearfix">
              <li class="icons dropdown">
                <div
                  class="user-img c-pointer position-relative"
                  data-toggle="dropdown"
                >
                  <span class="activity active"></span>
                  {% if current_user.is_authenticated %}

                    {% if current_user.has_roles("Admin") %}
                    <img
                      src="{{ url_for('static', filename = 'images/user/admin_icon.png')}}"
                      height="40"
                      width="40"
                      alt=""
                    />
                    {% else %}
                    <img
                      src="{{ url_for('static', filename = 'images/user/cashier_icon.png')}}"
                      height="40"
                      width="40"
                      alt=""
                    />
                    {% endif %}

                  {% else %}
                  <img
                    src="{{ url_for('static', filename = 'images/user/user_icon_1.png')}}"
                    height="40"
                    width="40"
                    alt=""
                  />
                  {% endif %}
                </div>
                <div
                  class="drop-down dropdown-profile animated fadeIn dropdown-menu "
                >
                  <div class="dropdown-content-body">
                    <ul>
                      {% if current_user.is_authenticated %}
                      <li>
                        <span>{{current_user.email}}</span>
                      </li>
                        {% if current_user.has_roles("Admin") %}
                        <li>
                            <span>Admin privileges</span>
                        </li>
                        {% else %}
                          <li>
                            <span>Cashier privileges</span>
                          </li>
                        {% endif %}
                      <li>
                        <a href="{{ url_for('user.logout') }}"
                        ><i class="icon-logout"></i> <span>Logout</span></a
                        >
                      </li>
                      {% else %}
                        <li>
                          <a href="{{ url_for('user.login') }}"
                          ><i class="icon-login"></i> <span>Login</span></a
                          >
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="nk-sidebar">
        <div class="nk-nav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label">Navigation</li>
            {%  if current_user.is_authenticated  %}
            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
              >
                <i class="icon-people menu-icon"></i
                ><span class="nav-text">Customers</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="{{url_for('customers.table_of_customers')}}">
                  <i class="icon-magnifier menu-icon"></i>Serch Customer</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ url_for('user.logout') }}" aria-expanded="false">
                <i class="icon-logout menu-icon"></i
                  >
                  <span class="nav-text">Logout</span></a>
            </li>
            {%  else    %}
            <li>
              <a href="{{ url_for('user.login') }}" aria-expanded="false">
                <i class="icon-login menu-icon"></i
                  >
                  <span class="nav-text">Login</span></a>
            </li>
            {%  endif    %}
            
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
        {% block content %}{% endblock content %}
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright &copy; Designed & Developed by
            <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{ url_for('static', filename = 'plugins/common/common.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/settings.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/gleek.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/styleSwitcher.js')}}"></script>

    <!-- Circle progress -->
    <script src="{{ url_for('static', filename = './plugins/circle-progress/circle-progress.min.js')}}"></script>

    <!-- Custom scripts -->
    {% block custom_scripts %}
    {% endblock custom_scripts %}
  </body>
</html>
