<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}{% endblock title %}</title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static',filename = 'images/cooltextPB2.png')}}"
    />
    <!-- Custom Stylesheet -->
    <link
      href="{{ url_for('static',filename = 'css/style.css')}}"
      rel="stylesheet"
    />
    <!-- Custom header links -->
    {% block header_links %}
    {% endblock header_links %}
   </head>

  <body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
          <circle
            class="path"
            cx="50"
            cy="50"
            r="20"
            fill="none"
            stroke-width="3"
            stroke-miterlimit="10"
          />
        </svg>
      </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <div class="brand-logo">
          <a href="{{url_for('home.index')}}">
            <b class="logo-abbr"><img src="{{url_for('static', filename = './images/cooltextPB1.png')}}" alt="" /> </b>
            <span class="logo-compact"
              ><img src="{{url_for('static', filename = './images/cooltextPB.png')}}" alt=""
            /></span>
            <span class="brand-title">
              <img src="{{url_for('static', filename = './images/cooltext87.png')}}" alt="" />
            </span>
          </a>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content clearfix">
          <div class="nav-control">
            <div class="hamburger">
              <span class="toggle-icon"><i class="icon-menu"></i></span>
            </div>
          </div>
          <!-- <div class="header-left">
            <div class="input-group icons">
              <div class="input-group-prepend">
                <span
                  class="input-group-text bg-transparent border-0 pr-2 pr-sm-3"
                  id="basic-addon1"
                  ><i class="mdi mdi-magnify"></i
                ></span>
              </div>
              <input
                type="search"
                class="form-control"
                placeholder="Search Dashboard"
                aria-label="Search Dashboard"
              />
              <div class="drop-down animated flipInX d-md-none">
                <form action="#">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                  />
                </form>
              </div>
            </div>
          </div> -->
          <div class="header-right">
            <ul class="clearfix">
              <li class="icons dropdown d-none d-md-flex">
                <a
                  href="javascript:void(0)"
                  class="log-user"
                  data-toggle="dropdown"
                >
                  <span>English</span>
                  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                </a>
                <div
                  class="drop-down dropdown-language animated fadeIn dropdown-menu"
                >
                  <div class="dropdown-content-body">
                    <ul>
                      <li><a href="javascript:void()">English</a></li>
                      <li><a href="javascript:void()">Dutch</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="icons dropdown">
                <div
                  class="user-img c-pointer position-relative"
                  data-toggle="dropdown"
                >
                  <span class="activity active"></span>
                  <img
                    src="{{ url_for('static', filename = 'images/user/1.png')}}"
                    height="40"
                    width="40"
                    alt=""
                  />
                </div>
                <div
                  class="drop-down dropdown-profile animated fadeIn dropdown-menu"
                >
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="app-profile.html"
                          ><i class="icon-user"></i> <span>Profile</span></a
                        >
                      </li>
                      <li>
                        <a href="javascript:void()">
                          <i class="icon-envelope-open"></i> <span>Inbox</span>
                          <div class="badge gradient-3 badge-pill gradient-1">
                            3
                          </div>
                        </a>
                      </li>

                      <hr class="my-2" />
                      <li>
                        <a href="page-lock.html"
                          ><i class="icon-lock"></i> <span>Lock Screen</span></a
                        >
                      </li>
                      <li>
                        <a href="page-login.html"
                          ><i class="icon-key"></i> <span>Logout</span></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="nk-sidebar">
        <div class="nk-nav-scroll">
          <ul class="metismenu" id="menu">
            <li class="nav-label">Navigation</li>
            {%  if current_user.is_authenticated    %}
            <li>
              <a
                class="has-arrow"
                href="javascript:void()"
                aria-expanded="false"
              >
                <i class="icon-people menu-icon"></i
                ><span class="nav-text">Customers</span>
              </a>
              <ul aria-expanded="false">
                <li><a href="{{url_for('customers.table_of_customers')}}">
                  <i class="icon-magnifier menu-icon"></i>Serch Customer</a></li>
                <!-- <li><a href="./index-2.html">Home 2</a></li> -->
              </ul>
            </li>
            <li>
              <a href="{{ url_for('user.logout') }}" aria-expanded="false">
                <i class="icon-logout menu-icon"></i
                  >
                  <span class="nav-text">Logout</span></a>
            </li>
            {%  else    %}
            <li>
              <a href="{{ url_for('user.login') }}" aria-expanded="false">
                <i class="icon-login menu-icon"></i
                  >
                  <span class="nav-text">Login</span></a>
            </li>
            {%  endif    %}
            
          </ul>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->

      <!--**********************************
            Content body start
        ***********************************-->
        {% block content %}{% endblock content %}
      <!--**********************************
            Content body end
        ***********************************-->

      <!--**********************************
            Footer start
        ***********************************-->
      <div class="footer">
        <div class="copyright">
          <p>
            Copyright &copy; Designed & Developed by
            <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
          </p>
        </div>
      </div>
      <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{{ url_for('static', filename = 'plugins/common/common.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/custom.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/settings.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/gleek.js')}}"></script>
    <script src="{{ url_for('static', filename = 'js/styleSwitcher.js')}}"></script>

    <!-- Circle progress -->
    <script src="{{ url_for('static', filename = './plugins/circle-progress/circle-progress.min.js')}}"></script>

    <!-- Custom scripts -->
    {% block custom_scripts %}
    {% endblock custom_scripts %}
  </body>
</html>
