{% extends 'basetemplate.html' %} 

{% block title %} Transaction Successful {% endblock title%}


{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Transaction Successful From Account Id {{acc_credit_id}} To Account Id {{acc_debit_id}}</h1>
                        <h1>New Balance: </h1>
                        <h1>{{acc_credit_id}}: {{acc_credit_balance}}</h1>
                        <h1>{{acc_debit_id}}: {{acc_debit_balance}}</h1>
                        <a href="{{url_for('home.index')}}">
                        <button type="button" class="btn mb-1 btn-primary btn-lg">Startpage</button>
                        </a>
                        <a href="{{url_for('transactions.deposit_transaction')}}">
                        <button type="button" class="btn mb-1 btn-primary btn-lg">Deposition</button>
                        </a>
                        <a href="{{url_for('transactions.credit_transaction')}}">
                        <button type="button" class="btn mb-1 btn-primary btn-lg">Withdrawl</button>
                        </a>
                        <a href="{{url_for('transactions.transfer_transaction')}}">
                        <button type="button" class="btn mb-1 btn-primary btn-lg">Transfer within bank</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}